ACCESS_TOKEN_SECRET = YOUR_ACCESS_TOKEN_SECRET
REFRESH_TOKEN_SECRET = YOUR_REFRESH_TOKEN_SECRET
ACCESS_TOKEN_EXPIRE = YOUR_ACCESS_TOKEN_EXPIRE
REFRESH_TOKEN_EXPIRE = YOUR_REFRESH_TOKEN_EXPIRE
DATABASE_USERNAME = YOUR_DATABASE_USERNAME
DATABASE_PASSWORD = YOUR_DATABASE_PASSWORD
DATABASE_NAME = YOUR_DATABASE_NAME
DATABASE_HOST = 'localhost'
DATABASE_PORT = 1433
SERVER_HOST = 'http://127.0.0.1:3000'
URL_WEBSITE = ''

